@import "css/variables";
@import "css/breakpoints";
@import "css/grid";
@import "css/grid-framework";

@mixin vendor-prefix($name, $argument){
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@keyframes rotate_cw{
	0%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(0)');
	}

	50%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(180deg)');
	}

	100%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(360deg)');
	}
}

@function reverse($list, $recursive: false){
	$result: ();

	@for $i from length($list) * -1 through -1{
		@if type-of(nth($list, abs($i))) == list and $recursive{
			$result: append($result, reverse(nth($list, abs($i)), $recursive));
		}

		@else{
			$result: append($result, nth($list, abs($i)));
		}
	}

	@return $result;
}

@function mapReverse ($map){
	$result: null;

	@if type-of($map) == "map"{
		$keys: map-keys($map);
		$map-reversed: ();

		@for $i from length($keys) through 1{
			$map-reversed: map-merge(
				$map-reversed,
				(nth($keys, $i): map-get($map, nth($keys, $i)))
			);
		}

		@if type-of($map-reversed) == "map"{
			$result: $map-reversed;
		}

		@else{
			@warn 'There was an error reversing the order of "#{$map}"';
		}
	}

	@else{
		@warn '"#{$map}" is not a valid map';
	}

	@return $result;
}
