// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container{
	@include make-container();
	@include make-container-max-widths();

	&.right-bleed{
		margin: 0 0 0 auto;
		padding-right: 0;
		@include make-bleed-max-widths();

		@media(max-width: $tablet){
			max-width: 100%;
		}

		> .row{
			margin-right: 0;
		}
	}

	&.left-bleed{
		margin: 0 auto 0 0;
		padding-left: 0;
		@include make-bleed-max-widths();

		@media(max-width: $tablet){
			max-width: 100%;
		}

		> .row{
			margin-left: 0;
		}
	}
}
// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

.container-fluid{
	@include make-container();
}
// Row
//
// Rows contain and clear the floats of your columns.

.row{
	@include make-row();
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters{
	margin-right: 0;
	margin-left: 0;

	> [class*="col-"],
	> .col{
		padding-right: 0;
		padding-left: 0;
	}
}
// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns();

.clearfix{
	> [class*="col-"]{
		display: block;
		float: left;
	}
}

// .container{
// 	width: $desktop;
// 	margin: 0 auto;
//
// 	@media(max-width: $desktop){
// 		width: 100%;
// 		padding: 5%;
// 	}
// }

body.has-sidebar{
	aside[role="complementary"]{
		float: right;
		width: 25%;
	}

	article[role="article"]{
		float: left;
		width: 70%;
	}

	@media(max-width: $tablet){
		article[role="article"]{
			float: none;
			width: 100%;
		}

		aside[role="complementary"]{
			float: none;
			width: 100%;
		}
	}
}
