//Variables
$red: rgb(240, 57, 57);
$blue: rgb(26, 126, 189);
$green: rgb(82, 242, 89);
$yellow: rgb(242, 240, 82);
$light: rgb(236, 236, 236);
$medium: rgb(102, 102, 102);
$dark: rgb(31, 31, 31); //$dark: desaturate(darken($primary, 46%), 78%);

$primary: $red;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
	(
		0: 0,
		1: ($spacer * .25),
		2: ($spacer * .5),
		3: $spacer,
		4: ($spacer * 1.5),
		5: ($spacer * 3)
	),
	$spacers
);

$phone-small: 395px;
$phone: 600px;
$tablet: 768px;
$laptop: 1120px;
$desktop: 1340px;

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-gutter-widths: (
	xs: $grid-gutter-width,
	sm: $grid-gutter-width,
	md: $grid-gutter-width,
	lg: $grid-gutter-width,
	xl: $grid-gutter-width,
);

$grid-breakpoints: (
	xs: $phone-small,
	sm: $phone,
	md: $tablet,
	lg: $laptop,
	xl: $desktop,
);

$container-max-widths: (
	xs: 100%,
	sm: 100%,
	md: 95%,
	lg: $laptop * .9375,
	xl: $desktop * .9375,
);
