<section {% if block.anchor %}id="{{ block.anchor }}"{% endif %} class="{{ block.className }}" data-block-id="{{ block.blockId }}" style="{{ geterate_inline_styles(block) }}">
	<InnerBlocks />
</section>