{% block html_head_container %}
	<!doctype html>
	<!--[if lt IE 7]><html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }} xml:lang="{{ site.language }}"> <![endif]-->
	<!--[if IE 7]><html class="ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }} xml:lang="{{ site.language }}"> <![endif]-->
	<!--[if IE 8]><html class="ie ie8 lt-ie9" {{ site.language_attributes }} xml:lang="{{ site.language }}"> <![endif]-->
	<!--[if gt IE 8]><!--><html {{ site.language_attributes }} xml:lang="{{ site.language }}"> <!--<![endif]-->
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	{% if post.get_field('schema_content') %}
		<script type="application/ld+json">
		{{ post.get_field('schema_content') }}
		</script>
	{% else %}
		{% block microdata %}
		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebPage",
			"@id": "{{ post.link }}",
			"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
			"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
			{% if post.thumbnail or post.get_field('seo_image') %}
			"image": {
				"@type": "ImageObject",
				"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
				"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
				"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
			},
			{% endif %}
			"url": "{{ post.link }}"
		}
		</script>
		{% endblock %}
	{% endif %}
	{{ theme.theme_mods.arbitrary_code_head }}
	{{ post.get_field('arbitrary_code_head_content') }}
{% endblock %}
</head>
<body class="no-scroll {{ body_class }}{{ sidebar ? ' has-sidebar' }}" data-template="base.twig">
	{{ theme.theme_mods.arbitrary_code_begin_body }}
	{{ post.get_field('arbitrary_code_begin_body_content') }}
	{% if theme.theme_mods.google_tags_code %}
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ theme.theme_mods.google_tags_code }}"
	width="0" height="0" style="display:none;visibility:hidden"></iframe></noscript>
	{% endif %}
	<div id="fullscreen-loading">
		{% include 'loading.twig' %}
	</div>
	<div id="backdrop">
		<div id="modal" class="clearfix" role="dialog" aria-live="assertive" aria-atomic="true">
			<div id="modal-close" aria-label="{{ _e('Close Modal', 'starter_basic') }}">&#xe800;</div>
			<div id="modal-content">
				{% include 'loading.twig' %}
				<div><strong>{{ _e('Loading', 'starter_basic') }}&hellip;</strong></div>
			</div>
		</div>
	</div>

	<header role="banner" class="blur">
		{% block header %}
			<a id="skip-to-main" href="#main">{{ _e('Skip to main content', 'starter_basic') }}</a>
			{% if enable_alert_bar %}
				<div id="alert-message">
					<div class="alert-message-inner">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-11">
									{{ alert_message }}
								</div>
								<button class="close-alert-button col-xs-1" title="{{ _e('Close Alert Bar', 'starter_basic') }}" aria-label="{{ _e('Use this &#xe817; to close the alert', 'starter_basic') }}">&#xe817;</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="container clearfix">
				<div id="site-title"><a href="{{ site.url }}" rel="home">{{ site.name }}</a></div>
				<nav role="navigation" aria-label="main-navigation">
					<div class="close-sidebar" aria-label="{{ _e('Close Sidebar', 'starter_basic') }}">&#xe800;</div>
					{% include "menu.twig" with {'menu': main_menu.get_items} %}
				</nav>
				{% if available_languages %}
					<div class="fr">
						<label for="language-switcher">{{ _e('Language', 'starter_basic') }}</label>
						<select id="language-switcher">
							<option value="en" {{ site.language == 'en-US' ? 'selected' }}>English</option>
							{% for key, name in available_languages %}
							<option value="{{ key }}" {{ site.language == key ? 'selected' }}>{{ name }}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}
				<button id="burger" aria-label="{{ _e('Toggle Sidebar', 'starter_basic') }}">&equiv;&#xFE0E;</button>
			</div>
		{% endblock %}
	</header>
	<main id="main" class="{% if post.type == 'post' %}{{ post.type ~ post.ID }}{% elseif function('is_archive') %}archive-{{ function('get_query_var', 'post_type') | lower }}{% elseif function('is_home') %}blog-page{% elseif function('is_search') %}search-results{% elseif function('is_front_page') %}front-page{% elseif function('is_404') %}error-404{% else %}{{ post.type ~ '-' ~ post.slug }}{% endif %} blur" role="main">
	{% block hero %}
	{% endblock %}
		<div id="main-content">
			<article role="article">
				{{ breadcrumbs }}
				{% block content %}
					{{ _e('Sorry, no content', 'starter_basic') }}
				{% endblock %}
			</article>
			{% if sidebar %}
			<aside role="complementary">
				<div class="sidebar-inner">
					{% include 'sidebar.twig' %}
				</div>
			</aside>
			{% endif %}
		</div>
	</main>
	<footer role="contentinfo" class="blur">
		{% include 'footer.twig' %}
	</footer>
	<div id="scroll-to-top" title="Scroll to Top">&#x2305;</div>
	<script type="text/javascript" id="script-site-vars">
		var site = JSON.parse('{{ site | json_encode | e("js") }}'),
			post = JSON.parse('{{ post | json_encode | e("js") }}'),
			enableAnalytics = Boolean({{ theme.theme_mods.enable_analytics }}),
			gaCode = '{{ theme.theme_mods.google_analytics_code }}',
			gtmCode = '{{ theme.theme_mods.google_tags_code }}',
			pixelCode = '{{ theme.theme_mods.fb_pixel_code }}',
			scriptSiteVars = document.getElementById('script-site-vars');

		scriptSiteVars.parentNode.removeChild(scriptSiteVars);
	</script>
	{{ function('wp_footer') }}
	{{ theme.theme_mods.arbitrary_code_end_body }}
	{{ post.get_field('arbitrary_code_end_body_content') }}
</body>
</html>
