{% extends "base.twig" %}

{% block head %}
<link href="{{ post.link }}" rel="canonical">
{% endblock %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Blog",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}"
}
</script>
{% endblock %}

{% block content %}
	<div class="row mb-5">
		{% for post_category in post_categories %}
			<div class="col-xs-auto">
				<a href="{{ post_category.link }}">{{ post_category.name }}</a>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		{% for post in posts %}
			<div class="col-xs-12">
				{% include ['tease-' ~ post.post_type ~ '.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		</div>
	</div>
{% endblock %}
