<form id="searchform" class="row" role="search" method="get" action="{{ site.url }}" target="_top">
	<div class="input-wrap col-md-8 col-sm-12">
		<input id="s" name="s" type="search" value="{{ fn('get_search_query') }}" placeholder="{{ _e('Search term', 'starter_basic') }}" required="required">
		<label for="s">{{ _e('Search', 'starter_basic') }}</label>
	</div>
	<button class="btn btn-primary col-md-4 col-sm-12" title="{{ _e('Submit', 'starter_basic') }}" type="submit">{{ _e('Submit', 'starter_basic') }}</button>
</form>
