{% extends "base.twig" %}

{% block content %}
	<form class="password-form" method="post" action="{{ site.link }}/wp-login.php?action=postpass">
		<div class="input-wrap">
			<input id="pwbox-{{ post.ID }}" class="password-box" name="post_password" type="password" placeholder="{{ _e('Password', 'starter_basic') }}" size="20" maxlength="20">
			<label for="pwbox-{{ post.ID }}">{{ _e('Password', 'starter_basic') }}:</label>
		</div>
		<input class="password-btn" name="submit" type="submit" value="{{ _e('Submit', 'starter_basic') }}">
	</form>
{% endblock %}
