{% extends "base.twig" %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BlogPosting",
	"@id": "{{  post.link  }}",
	"headline": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"author": {
		"@type": "Person",
		"name": "{{ post.author }}"
	},
	"publisher": {
		"@type": "Organization",
		"name": "{{  site.name  }}",
		"logo": {
			"@type": "ImageObject",
			"url": "{{ theme.theme_mods.logo }}"
		},
		"sameAs": [
			{% if theme.theme_mods.twitter_link %}
			"{{ theme.theme_mods.twitter_link }}",
			{% endif %}
			{% if theme.theme_mods.facebook_link %}
			"{{ theme.theme_mods.facebook_link }}",
			{% endif %}
			{% if theme.theme_mods.gplus_link %}
			"{{ theme.theme_mods.gplus_link }}",
			{% endif %}
			{% if theme.theme_mods.instagram_link %}
			"{{ theme.theme_mods.instagram_link }}"
			{% endif %}
		]
	},
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{ site.link }}"
	},
	"datePublished": "{{ post.date | date('Y-m-d') }}",
	"dateModified": "{{ post.post_modified | date('Y-m-d') }}"
}
</script>
{% endblock %}

{% block content %}
	<section class="{{sidebar ? '':'container' }}">
		{{ post.content }}
	</section>
	<!-- comment box -->
	<section class="{{ sidebar ? '':'container' }}">
		<!-- comments -->
		{% if post.comment_status == "closed" %}
			<p>{{ _e('Comments for this post are closed', 'starter_basic') }}</p>
		{% else %}
			<!-- comment form -->
			{% include "comment-form.twig" %}
		{% endif %}
		<div>
			{% if post.comments %}
				<h3>{{ _e('Comments', 'starter_basic') }}</h3>
				{% for cmt in post.comments %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
