{% extends "base.twig" %}

{% block head %}
<link href="{{ post.link }}" rel="canonical">
{% endblock %}

{% block microdata %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Event",
	"@id": "{{ post.link }}",
	"name": "{{ post.get_field('seo_title') ? post.get_field('seo_title') : (post.title ? post.title : title) }}",
	"description": "{{ post.get_field('seo_description') ? post.get_field('seo_description') : post.post_content | excerpt(30) }}",
	{% if post.thumbnail or post.get_field('seo_image') %}
	"image": {
		"@type": "ImageObject",
		"url": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).src('medium') : post.thumbnail.src('medium') }}",
		"width": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.width : post.thumbnail.sizes.medium.width }}",
		"height": "{{ post.get_field('seo_image') ? TimberImage(post.get_field('seo_image')).sizes.medium.height : post.thumbnail.sizes.medium.height }}"
	},
	{% endif %}
	"url": "{{ post.link }}",
	{% if post.custom.location and post.custom.location != '' %}
	"location": {
		"@type": "Place",
		{% if post.custom.location_name %}
		"name": "{{ post.custom.location_name }}",
		{% endif %}
		"address": "{{ post.custom.location }}"
	},
	{% endif %}
	"startDate": "{{ post.custom.start_date | date('Y-m-d\\TH:i') }}",
	"endDate": "{{ post.custom.end_date | date('Y-m-d\\TH:i') }}"
}
</script>
{% endblock %}

{% block content %}
	<section class="{{ sidebar ? '' : 'container' }}">
		{% if post.custom.location and post.custom.location != '' %}
			<h2 id="event-location">{{ post.custom.location_name ? post.custom.location_name : post.custom.location }}</h2>
			{% if post.custom.location and post.custom.location_name %}
				<h3 id="event-address">{{ post.custom.location }}</h3>
			{% endif %}
		{% else %}
			<h2 id="event-location">{{ _e('This event has no location', 'starter_basic') }}</h2>
		{% endif %}
		<h4>
			{% if post.custom.start_date | date('mdY') == post.custom.end_date | date('mdY') %}
				<time datetime="{{ post.custom.start_date | date('Y-m-d\\TH:i') }}">{{ post.custom.start_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
				{% if post.custom.start_date | date('gia') != post.custom.end_date | date('gia') %}
					- <time datetime="{{ post.custom.end_date | date('Y-m-d\\TH:i') }}">{{ post.custom.end_date | date('g:ia') }}</time>
				{% endif %}
			{% else %}
				<time datetime="{{ post.custom.start_date | date('Y-m-d\\TH:i') }}">{{ post.custom.start_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
				-
				<time datetime="{{ post.custom.end_date | date('Y-m-d\\TH:i') }}">{{ post.custom.end_date | date(post.custom.all_day ? 'D M d, Y' : 'D M d, Y g:ia') }}</time>
			{% endif %}
		</h4>
		{% for event_category in post.terms %}
			<a class="event-category" href="{{ site.url }}/events?date={{ now }}&category={{ event_category.slug }}" rel="tag" title="{{ event_category.name }}">{{ event_category.name }}</a>
		{% endfor %}
		{{ post.content }}
		{% if post.custom.location and post.custom.location != '' %}
			<a href="//www.google.com/calendar/event?action=TEMPLATE&text={{ post.title | url_encode | replace({'%20': '+'}) }}&dates={{ (post.custom.start_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}/{{ (post.custom.end_date - gmt_offset_seconds) | date('Ymd\\THis\\Z') }}&details={{ post.post_content | url_encode | replace({'%20': '+'}) }}&location={{ post.custom.location | url_encode | replace({'%20': '+'}) }}"
				target="_blank"
				rel="external"
				title="{{ _e('Google Calendar Link', 'starter_basic') }}">{{ _e('Google Calendar Link', 'starter_basic') }}
			</a>
			<div id="event-map">{{ _e('Error loading map', 'starter_basic') }}</div>
		{% endif %}
	</section>
{% endblock %}
