{% extends "base.twig" %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
	<section class="{{ sidebar ? '':'container' }}">
		{% if not is_logged_in %}
			<h1>{{ _e('You must be logged in to view your page', 'starter_basic') }}</h1>
		{% elseif user.ID == post.post_author or user.caps.administrator is defined %}
			{{ post.content }}
		{% else %}
			<h1>{{ _e('You are not allowed to view this page', 'starter_basic') }}</h1>
		{% endif %}
	</section>
{% endblock %}
