{% extends "base.twig" %}

{% block hero %}
<div id="hero-banner" class="{{ not post.meta('vimeo_video_id') ? 'parallax' }} {{ post.meta('hero_short') ? 'short-hero' }}" style="background-image: url({{ TimberImage(post.meta('hero_image')).src }}); background-position: {{ (TimberImage(post.meta('hero_image')).crop_origin_x ?: 0.5) * 100 }}% {{ (TimberImage(post.meta('hero_image')).crop_origin_y ?: 0.5) * 100 }}%">
	{% if post.meta('vimeo_video_id') %}
		<div class="video-wrapper">
			<iframe id="banner-video" src="https://player.vimeo.com/video/{{ post.meta('vimeo_video_id') }}?background=1&title=0&byline=0&controls=0" title="{{ _e('Video Banner', 'starter_basic') }}" allow="autoplay" allowfullscreen></iframe>
			<div class="container video-actions">
				<div class="row">
					<div class="col-xs-12">
						<button class="video-control" title="{{ _e('Pause Video', 'starter_basic')}}">&#xe82b;</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
	<section id="site-map-main-body" class="main-body" aria-label="{{ _e('Main Content', 'starter_basic') }}">
		<header>
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<h1>{{ post.title }}</h1>
					</div>
				</div>
			</div>
		</header>
	</section>
	<section aria-label="{{ __('Sitemap Section', 'collateral_analytics') }}">
		<div class="container">
			<div class="row justify-content-center">
				<div class="pages col-xs-12 col-md-6">
					{% include 'partial/sitemap-partial.twig' with {'pages': sitemap.get_items } %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
