{% extends "tease.twig" %}

{% block content %}
	<header>
		<h3><a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a></h3>
		<p>{{ post.preview.length(25).read_more('') }} <a href="{{ post.link }}" title="{{ _e('Read more about', 'starter_basic') ~ ' ' ~ post.title }}">{{ _e('Read More', 'starter_basic') }}</a></p>
		{% if post.thumbnail.src %}
			<img class="lazy-placeholder" src="{{ post.thumbnail.src | get_webp }}" alt="{{ post.get_thumbnail.alt }}">
		{% endif %}
	</header>
{% endblock %}
