.fl{float: left !important;}
.fr{float: right !important;}
.cb{clear: both !important;}
.cl{clear: left !important;}
.cr{clear: right !important;}
.cn{clear: none !important;}
.mh-0{min-height: 0 !important;}
.mh-100{min-height: 100px !important;}

#seo-image,
#facebook-image,
#twitter-image{
	float: none;
	min-height: 0 !important;
	border: none;
	display: inline-block;
}

#seo-title,
#facebook-title,
#twitter-title{
	float: left;
	clear: none !important;
	min-height: 0 !important;
	border: none;
}

#seo-desc,
#facebook-desc,
#twitter-desc{
	float: left;
	border: none;
	clear: left !important;
}

.acf-fields > .acf-field.acf-instructions{
	float: none;
	border: none;
	min-height: 0;
}

.acf-fields > .acf-field.acf-instructions .acf-input,
.acf-fields > .acf-field.acf-instructions .acf-label label{
	display: none;
}

#acf-schema_content,
#acf-arbitrary_code_head_content,
#acf-arbitrary_code_begin_body_content,
#acf-arbitrary_code_end_body_content{
	height: 0;
	visibility: hidden;
	padding: 0;
	display: block;
}
