@import 'acf-styles.css';
@import 'block-editor.css';
@import 'documentation.css';
@import 'events.css';
@import 'form-builder.css';
@import 'units.css';

.clearfix{
	zoom: 1;
}

.clearfix:before,
.clearfix:after{
	content: ' ';
	display: table;
}

.clearfix:after{
	clear: both;
}

#page-mapping-list{
	margin-top: 0;
	margin-left: 18px;
}

#qtranxs-meta-box-lsb{
	display: none;
}

/*
* Contact Page
*/
#contact-page-info{
	width: 100%;
}

#contact-page-info td input{
	margin: 8px 0 20px;
	font-weight: normal;
}

#contact-page-info td .addr-inline label{
	float: left;
	width: 30%;
	margin-right: 5%;
	clear: none;
}

#contact-page-info td .addr-inline label:last-child{
	margin-right: 0;
}

/*
* Media Management
*/
.edit-attachment-frame .attachment-media-view .thumbnail .origin-wrapper{
	position: relative;
	margin: auto;
}

.edit-attachment-frame .attachment-media-view .thumbnail .crop-origin{
	position: absolute;
	height: 20px;
	width: 20px;
	background: white;
	box-shadow: 2px 2px 6px rgb(0, 0, 0);
	border: 2px solid #0094ff;
	border-radius: 50%;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
}

/*
* Theme Customizer
*/
.tab-section .category-tabs{
	margin-top: -6px;
	margin-left: -12px;
	margin-right: -12px;
	background: #f9f9f9;
	border-bottom: 1px solid #ededed;
}

.tab-section .ui-tab{
	padding: 0;
	display: block;
	margin: 0 0 -1px;
	border: none;
	float: left;
}

.tab-section .ui-tab a{
	display: inline-block;
	padding: 1.5em 1em;
	border-right: 1px solid #ededed;
}

.tab-section .ui-tab.ui-state-active a{
	background: white;
	color: black;
	pointer-events: none;
	margin-bottom: -1px;
}
