.edit-post-header-toolbar__center{
	margin-left: auto;
	margin-right: auto;
}

.block-editor-block-list__layout div.block-editor-block-list__block{
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
}

.block-editor-block-list__empty-block-inserter.block-editor-block-list__empty-block-inserter,
.block-editor-default-block-appender .block-editor-inserter{
	right: 2em;
}

html :where(.editor-styles-wrapper){
	line-height: 1.8;
	color: #1f1f1f;
	text-rendering: optimizeLegibility;
	font-feature-settings:
		'calt' on,
		'dlig' on,
		'kern',
		'locl';
	font-variant-ligatures: discretionary-ligatures;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html :where(.editor-styles-wrapper) p,
.block-editor-block-list__layout p.block-editor-block-list__block{
	margin: 0 0 1em;
}

section.section-preview{
	background-size: cover;
	padding: 2em 0;
	transition: all .5s;
}

.container.container-preview{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1256.25px;
	box-sizing: border-box;
	position: relative;
	transition: all .5s;
}

.container-fluid.container-preview{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.container.right-bleed.container-preview{
	margin: 0 0 0 auto;
	padding-right: 0;
	max-width: calc(50vw + 628.125px);
}

.container.left-bleed.container-preview{
	margin: 0 auto 0 0;
	padding-left: 0;
	max-width: calc(50vw + 628.125px);
}

.container.container-preview:before,
.container-fluid.container-preview:before{
	content: 'CONTAINER';
	position: absolute;
	left: 15px;
	top: -2.25em;
	padding: .5em;
	background-color: #333;
	color: white;
	font-size: .4em;
	opacity: .666;
	cursor: pointer;
}

.editor-styles-wrapper{
	background-color: #f0f0f0;
}

.edit-post-visual-editor__post-title-wrapper{
	box-sizing: border-box;
	width: 100%;
	padding: 4rem 15px 15px;
	max-width: none;
	background-color: white;
	margin: 0;
	z-index: 1;
	position: relative;
}

.edit-post-visual-editor__post-title-wrapper h1{
	margin: 0 auto;
	max-width: 1256.25px;
}

.is-root-container.block-editor-block-list__layout{
	margin: 0 auto;
	width: 100%;
	transition: width .5s, margin .5s;
	background-color: white;
	container: content / inline-size;
	box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}

.metabox-location-normal{
	margin-block-end: 0;
}
