#event-details{
	border-collapse: collapse;
	width: 100%;
}

#event-details thead tr th{
	text-align: left;
	padding-bottom: 7px;
}

#event-details tbody tr td{
	padding: 14px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: white;
}

#event-details tbody tr td input{
	margin: 8px 0 20px;
	font-weight: normal;
}

#event-details tbody tr td label > input[type="checkbox"],
#event-details tbody tr td label > input[type="radio"]{
	margin: -4px 4px 0 0;
}

#units-filter textarea{
	margin: 8px 0 0;
	padding: 10px;
	font-weight: normal;
	height: 114px;
}

#event-detailstbody tr td label,
#units-filter label{
	font-weight: bold;
}

#event-details tbody tr:first-child td{
	border-top: 1px solid #ddd;
}

#event-details tbody tr td:first-child{
	width: 50%;
	vertical-align: top;
	border-left: 1px solid #ddd;
}

#event-details tbody tr td #event_location{
	width: 100%;
	padding-top: 30px;
}

#event-details tbody tr td #repeating-properties{
	width: 100%;
	padding-top: 30px;
}

#event-details tbody tr td #repeating-properties #recurr_days,
#event-details tbody tr td #repeating-properties #recurr_by{
	padding: 30px 0;
}

#event-details tbody tr td #repeating-properties #recurr_days label,
#event-details tbody tr td #repeating-properties #recurr_by label{
	margin-right: 10px;
}

#event-details tbody tr td #recur_ends{
	width: 50%;
	float: left;
}

#event-details tbody tr td #recur_exceptions{
	width: 50%;
	float: right;
}

#event-details tbody tr td #recur_exceptions .exception-wrap{
	clear: both;
}

#event-details tbody tr td #recur_exceptions label{
	width: calc(100% - 46px);
	display: inline-block;
}

#event-details tbody tr td #recur_exceptions button{
	background: #cacaca;
	border-radius: 50%;
	padding: .75em 1em;
	border: none;
	position: relative;
	top: -3px;
	margin-left: .5em;
	font-weight: 900;
	cursor: pointer;
	-webkit-transition: color .3s, background .3s;
	-moz-transition: color .3s, background .3s;
	-ms-transition: color .3s, background .3s;
	-o-transition: color .3s, background .3s;
	transition: color .3s, background .3s;
}

#event-details tbody tr td #recur_exceptions button:hover{
	background: #0094ff;
	color: white;
}

#event-details tbody tr td:nth-child(2){
	vertical-align: top;
}

#event-details tbody tr td:first-child > div{
	width: 48%;
	font-weight: normal;
	float: left;
}

#event-details tbody tr td:first-child > div:nth-child(even){
	margin-left: 4%;
}

#import-google-cal{
	margin-top: 3px;
}
