#form-fields-meta-box{
	background: none;
	border: none;
	box-shadow: none;
}

#form-fields-meta-box h2{
	padding-left: 0;
	font-weight: 600;
	font-size: 1.2em;
}

#form-fields-meta-box h2:before{
	margin-right: .25em;
}

#form-fields-meta-box .handle-actions{
	display: none;
}

#form-fields-meta-box .postbox-header{
	border: none;
}

#form-fields-meta-box .inside{
	padding: 0;
}

.form-builder-sidebar{
	float: left;
	width: 230px;
}

.form-builder-sidebar > div{
	background: white;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-sizing: border-box;
	padding: 0 12px 12px;
	margin-bottom: 12px;
}

.form-builder-sidebar label{
	display: block;
	margin-bottom: 6px;
}

.form-builder-sidebar [type="email"]{
	margin-top: 6px;
}

#form-builder-fields{
	background: white;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-sizing: border-box;
	float: right;
	padding: 12px 24px;
	width: calc(100% - 242px);
}

#form-builder-fields .row{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin-left: -12px;
	margin-right: -12px;
	width: calc(100% + 24px);
}

#form-builder-fields .form-item{
	border: 1px solid #ccd0d4;
	box-sizing: border-box;
	margin: 0 6px 12px;
	padding: 4px 12px 12px;
	position: relative;
}

#form-builder-fields .drag-placeholder{
	outline: 4px dashed #cacaca;
	outline-offset: -10px;
}

#form-builder-fields .ui-sortable-helper{
	background: white;
	opacity: .9;
}

#form-builder-fields .form-item h2{
	background: #424242;
	color: white;
	margin: -4px -12px 0;
	width: 100%;
	padding-left: 12px;
}

#form-builder-fields .form-item .drag-handle{
	cursor: move;
}

#form-builder-fields .form-item .remove-form-item{
	color: #ccd0d4;
	cursor: pointer;
	position: absolute;
	right: 12px;
	top: 8px;
}

#form-builder-fields .form-item .remove-form-item:hover{
	color: red;
}

#form-builder-fields .form-item.width-100 .form-input-wrapper{
	float: left;
	width: calc(50% - 6px);
}

#form-builder-fields .form-item.width-100 .form-input-wrapper:nth-child(2n){
	float: right;
}

#form-builder-fields .form-item.width-100{
	flex: 0 0 calc(100% - 12px);
	max-width: calc(100% - 12px);
}

#form-builder-fields .form-item.width-75{
	flex: 0 0 calc(75% - 12px);
	max-width: calc(75% - 12px);
}

#form-builder-fields .form-item.width-66{
	flex: 0 0 calc(66.666% - 12px);
	max-width: calc(66.6666% - 12px);
}

#form-builder-fields .form-item.width-50{
	flex: 0 0 calc(50% - 12px);
	max-width: calc(50% - 12px);
}

#form-builder-fields .form-item.width-33{
	flex: 0 0 calc(33.333% - 12px);
	max-width: calc(33.333% - 12px);
}

#form-builder-fields .form-item.width-25{
	flex: 0 0 calc(25% - 12px);
	max-width: calc(25% - 12px);
}

#form-builder-fields .form-item .options-wrap{
	position: relative;
}

#form-builder-fields .form-item .remove-option{
	color: #ccd0d4;
	cursor: pointer;
	position: absolute;
	right: 11px;
	top: 11px;
}

#form-builder-fields .form-item .remove-option:hover{
	color: red;
}

#form-builder-fields .form-input-wrapper,
#form-builder-fields .input-sizes{
	margin: 6px 0;
	display: block;
}

#form-builder-fields .form-input-wrapper [type="text"]{
	margin-top: 6px;
}

#form-builder-fields .input-sizes a{
	margin-right: .75em;
	font-feature-settings: frac;
	font-variant-numeric: diagonal-fractions;
}
