#units-title{
	margin-bottom: .67em;
}

#units-filter label{
	float: left;
	width: 48%;
}

#units-filter .save-unit-info{
	margin: 1em 0;
}

#units-filter label + label{
	float: right;
}

#unit-search{
	margin: 1em 0;
}

#unit-list th{
	hyphens: auto;
	vertical-align: top;
}

#unit-list td{
	white-space: nowrap;
	overflow: hidden;
}

#unit-list td.right-align{
	text-align: right;
}

#unit-list th a{
	white-space: nowrap;
	padding: 8px 0 8px 8px;
}

#unit-list th a span{
	float: none;
	display: inline;
}

#unit-list .sorting-indicator:before{
	top: 5px;
}

#unit-list th:first-child{
	width: 61px;
}

#unit-list th:nth-child(2){
	width: 61px;
}

#unit-list th:nth-child(3){
	width: 82px;
}

#unit-list th:nth-child(4){
	width: 65px;
}

#unit-list th:nth-child(5){
	width: 67px;
}

#unit-list th:nth-child(6){
	width: 67px;
	text-align: right;
}

#unit-list th:nth-child(7){
	width: 98px;
	text-align: right;
}

#unit-list th:nth-child(8){
	width: 82px;
	text-align: right;
}

#unit-list th:nth-child(9){
	width: 65px;
}

#unit-list th:nth-child(10){
	width: 61px;
}

#unit-list th:nth-child(11){
	width: 65px;
}

#unit-list th:nth-child(12){
	width: 110px;
	text-align: right;
}

#unit-list td span + input{
	display: none;
	margin: 0;
}

#unit-list td span + input:not([type="checkbox"]){
	width: 100%;
}
