{% if posts.pagination.pages is not empty %}
	<nav class="pagination">
		<ul>
			{% if pagination.pages | first and pagination.pages | first.current != true %}
				<li class="first">
					<a class="btn" href="{{ pagination.pages | first.link }}" title="{{ __('First', 'starter_basic') }}">{{ __('First', 'starter_basic') }}</a>
				</li>
			{% else %}
				<li class="first">
					<button class="btn" title="{{ __('First', 'starter_basic') }}" disabled>{{ __('First', 'starter_basic') }}</button>
				</li>
			{% endif %}

			{% if pagination.prev %}
				<li class="prev">
					<a class="btn" href="{{ pagination.prev.link }}" title="{{ __('Previous', 'starter_basic') }}">{{ __('Previous', 'starter_basic') }}</a>
				</li>
			{% else %}
				<li class="prev">
					<button class="btn" title="{{ __('Previous', 'starter_basic') }}" disabled>{{ __('Previous', 'starter_basic') }}</button>
				</li>
			{% endif %}

			{% for page in pagination.pages %}
				{% if page.link %}
					<li>
						<a class="{{ page.class }}" href="{{ page.link }}" title="{{ page.title }}">{{ page.title }}</a>
					</li>
				{% else %}
					<li class="current">
						<span class="{{ page.class }}">{{ page.title }}</span>
					</li>
				{% endif %}
			{% endfor %}

			{% if pagination.next %}
				<li class="next">
					<a class="btn" href="{{ pagination.next.link }}" title="{{ __('Next', 'starter_basic') }}">{{ __('Next', 'starter_basic') }}</a>
				</li>
			{% else %}
				<li class="next">
					<button class="btn" title="{{ __('Next', 'starter_basic') }}" disabled>{{ __('Next', 'starter_basic') }}</button>
				</li>
			{% endif %}
			{% if pagination.pages | last and pagination.pages | last.current != true %}
				<li class="last">
					<a class="btn" href="{{ pagination.pages | last.link }}" title="{{ __('Last', 'starter_basic') }}">{{ __('Last', 'starter_basic') }}</a>
				</li>
			{% else %}
				<li class="last">
					<button class="btn" title="{{ __('Last', 'starter_basic') }}" disabled>{{ __('Last', 'starter_basic') }}</button>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
