{% if pages | length > 0 %}
<ul>
{% for page in pages %}
	<li><a href="{{ page.link }}" title="{{ page.title }}" aria-label="{{ page.title }}">{{ page.title }}</a>
		{% include 'partial/sitemap-partial.twig' with {'pages': page.get_children } %}
	</li>
{% endfor %}
</ul>
{% endif %}
